#app {
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $body-color;
  background-color: $body-bg;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    color: #00114D;
}
footer ul {
    margin-top: 1rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: none;
    margin-top: 60px;
}
container {
    width: auto;
    padding: 0 15px;
}
.router-link-exact-active {
    font-weight: 700;
}
.bg-dark {
    background-color: #BFCDFF !important;
}
.message-area {
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.lectures-area {
    height: 800px;
    max-height: 800px;
    overflow-y: scroll;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.users-area {
    height: 800px;
    max-height: 800px;
    overflow-y: scroll;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.user {
    font-weight: 800;
}
.body {
    margin-bottom: 0;
    white-space: pre-wrap;
}
.message {
    border-bottom: 1px solid #000000;
    padding: 10px;
}
.lecturer-chat-active {
    background-color: #b9b9b9;
}
.lecture-chat {
    font-weight: 800;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
.user-chat {
    font-weight: 800;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
.self {
    background-color: #f0f0f0;
    text-align: right;
}
.form {
    padding: 8px;
}
.form-input {
    width: 100%;
    border: 1px solid #d3e0e9;
    padding: 5px 10px;
    outline: none;
}
.notice {
    color: #aaa
}

svg {
    max-width: 25px;
    min-width: 25px;
}
[selected][disabled]{
    display: none;
}
.modal-footer {
    display: contents;
}
.modal_i {
    width: 25px;
}
.preview_modal {
    background: rgba(0, 0, 0, .7);
}
.dropdown-menu {
    display: block;
}
.add-form-control {
    width: auto;
}
.position-absolute.end-0 {
    right: 5px;
}
.student-task .block-1 {
    border: #0a0302 solid 1px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
.student-task .deadline-text {
    clear: both;
    color: #5bb7c7;
}
.student-task .answer-input {
    clear: both;
    width: 100%;
}
.student-task .answer-title {
    clear: both;
    font-weight: bold;
}
.student-task .answer-button {
    clear: both;
    margin-bottom: 1rem;
}
.student-task-list {
    padding-left: 0;
}
.student-task-list li {
    list-style-type: none;
    border: #0a0302 solid 1px;
}
.student-task-list .col-6 {
    margin: auto;
}
.student-task-list .col-3 {
    margin: auto;
}
.student-task-list .title {
    font-weight: bold;
    font-size: 18px;
}
.modal-notifications {
    display: block;
    position: fixed;
    top: 38px;
    right: 0;
    z-index: 1050;
}
.toast {
    opacity: 1;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.bordered {
    border: 1px solid;
    border-radius: 10px;
}
.d-grid {
    display: grid;
}
.small-input {
    width: 40px;
    border: none;
}
.right {
    margin: 0 0 0 auto;
}
.border {
    height: min-content;
}
.message .time {
    font-size: 11px;
}
.modal-content {
    width: fit-content;
}
.notification-modal-body {
    height: 100%;
    max-height: 800px;
    overflow-y: scroll;
}
.notification-modal-open {
    display: flex;
    margin-right: -30px;
}
.notification-count {
    background: #dc3545;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    position: relative;
    top: -15px;
    right: 20px;
}
.toast-body a {
    color: #007bff !important;
    cursor: pointer;
}
.modal-title {
    margin: auto;
}
h3 {
     padding: 0.5rem 1rem;
 }
.modal-dialog {
    width: fit-content;
}
.li4 {
    border: 1px solid;
    margin-bottom: 15px;
    padding: 10px;
}
.span4,
.thumbnail {
    display: flex;
}
ul.thumbnails {
    display: inline;
}
.counts {
    border-left: 1px solid grey;
    margin-right: 20px;
}
.toped {
    margin-top: -100px;
}
.span4 {
    border: 1px solid;
    margin-bottom: 15px;
    padding: 10px;
}
.span4 h3 {
    padding-left: 0px;
}
.float-right{
    margin-right: 10px;
}
.nav-item .nav-link {
    width: max-content;
}
.min-width {
    min-width: 130px;
}
.min-width-long {
    min-width: 210px;
}
.max-width {
    width: 170px;
}
.max-width-long {
    width: 240px;
}
.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.header {
    .bg-dark {
        height: 55px;
    }
    .navbar-dark .navbar-brand {
        color: #00114D;
    }
    .navbar-brand {
        font-size: 24px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #00114D;
        font-size: 16px;
        font-weight: 300;
    }
    .router-link-exact-active {
        font-weight: 400 !important;
    }
}
.mt-30 {
    margin-top: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.ml-32 {
    margin-left: 32px;
}
.mr-32 {
    margin-right: 32px;
}
.auth-page {
    .w-auth {
        width: 540px;
    }
    .text-center {
        color: var(--dark-blue, #00114D);
    }
    .link-signup {
        color: var(--dark-blue, #00114D);
        font-size: 16px;
        font-family: Roboto;
        font-weight: 300;
    }
    .btn-secondary {
        display: flex;
        max-width: 540px;
        height: 40px;
        padding: 6px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1.5px solid var(--dark-blue, #00114D);
        background: var(--dark-blue, #00114D);
        color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-control {
        display: flex;
        max-width: 540px;
        height: 40px;
        padding: 15px 30px;
        align-items: center;
        gap: 1px;
        border-radius: 10px;
        border: 1.5px solid var(--light-blue, #BFCDFF);
        background-image: none;
        color: var(--dark-blue, #00114D);
        font-size: 16px;
        font-weight: 500;
    }
    .form-control::placeholder {
        color: var(--light-blue, #BFCDFF);
        font-size: 16px;
        font-weight: 500;
    }
    .was-validated .form-control:valid, .form-control.is-valid {
        background-image: none;
        border: 1px solid var(--green, #155724);
    }
    .alert-warning {
        font-family: Roboto;
        font-size: 16px;
    }
    .alert-success {
        margin-bottom: 20px;
        border-radius: 10px;
        border-color: #d4edda;
    }
    .auth-alert {
        display: flex;
        max-width: 540px;
        flex-direction: column;
        flex-shrink: 0;
        padding: 15px 24px;
    }
    .short {
        width: 92px;
        border-radius: 10px;
        background: var(--light-blue, #BFCDFF);
        color: var(--white, #FFF);
        font-size: 16px;
        font-weight: 500;
        margin-right: 4px;
    }
    #input-phone {
        width: 82%;
    }
    .alert-danger {
        border-radius: 10px;
        border-color: #f8d7da;
    }
    .sign-up-password-warning {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    .header {
        .bg-dark {
            height: 48px;
        }
        .navbar-brand {
            font-size: 20px;
        }
        .navbar-dark .navbar-nav .nav-link {
            font-size: 14px;
        }
        .router-link-exact-active {
            font-weight: 400 !important;
        }
    }
    .auth-page {
        h3.text-center {
            font-size: 20px;
        }
        .sub-text {
            margin-left: 24px;
            margin-right: 24px;
        }
        .form-control {
            font-size: 14px;
            padding: 15px 20px;
            height: 45px;
        }
        .form-control::placeholder {
            font-size: 14px;
        }
        .link-signup {
            font-size: 14px;
        }
        .mob-col-right {
            padding-left: 15px;
            max-width: 40%;
        }
        .mob-col-left {
            padding-right: 15px;
            max-width: 60%;
        }
        .mob-ml-22 {
            margin-left: 22px !important;
        }
        .mob-mr-22 {
            margin-right: 22px !important;
        }
        .btn-secondary {
            font-size: 14px;
            height: 45px;
        }
        .alert-warning {
            font-size: 14px;
        }
        .short {
            padding: 0px 20px;
            width: 70px;
        }
        #input-phone {
            width: 100%;
        }
    }
}
